@media only screen{
	html{
		font-family: 'Lato', 'Verdana', sans-serif;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #777;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #777;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #777;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #777;
	}
	.container{
		width: auto;
		margin: 0 30px;
	}
	.title{
		text-align: center;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 48px;
	}
	.subtitle{
		text-align: center;
		font-weight: 300;
	}
	.form{
		text-align: center;
	}
	.form-text{
	    background-color: #eeeeee;
	    border: 1px solid grey;
	    font-size: 14px;
	    height: 25px;
	    padding: 0 7px;
	    -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
	}
	.form-button{
		-webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        height: 27px;
        border: 1px solid #0062c7;
        background-color: #0062c7;
        color: white;
        position: relative;
        bottom: 1px;
        font-size: 14px;
        cursor: pointer;
	}
	.posts{
		margin-top: 20px;
	}
	.postsloading{
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		display: none;
	}
	.post{
		border-bottom: 1px solid grey;
		padding: 20px 0;
		text-align: center;
	}
	.post:last-child{
		border-bottom: 0px;
	}
	.post-time,
	.post-domain{
		display: block;
	}
	.footer{
		text-align: center;
		padding-top: 20px;
	}
}

@media only screen and (min-width: 1024px){
	.post-time{
		float: right;
	}
	.post-domain{
		float: left;
	}
	.container{
		width: 1024px;
		margin: 0 auto;
	}
}